section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

section > h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Cards */
.hardware-item {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 12px;
  background-color: #234c6a;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-left: 5px solid #ffffff;
}

.hardware-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.hardware-item.reversed {
  flex-direction: row-reverse;
  border-left: none;
  border-right: 5px solid #ffffff;
}

.hardware-item > div {
  flex: 1;
}

.hardware-item > div > h2 {
  font-size: 2em;
  color: #d2c1b6;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px dashed #456882;
  padding-bottom: 5px;
}

.hardware-item > div > p {
  font-size: 1.1em;
  text-align: justify;
  color: #d2c1b6;
}

/* Responsividade */
@media (max-width: 900px) {
  .hardware-item,
  .hardware-item.reversed {
    flex-direction: column;
    text-align: center;
    border-left: 5px solid #456882;
    border-right: none;
    gap: 20px;
    padding: 25px;
  }

  .hardware-item > div > h2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  section > h1 {
    font-size: 2.2em;
  }
}

/* Código */
.code-section pre {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}
